#__layout0 {
    width: 500px;
    height: 500px;
    margin-left: 450px;
}

#__page0-cont {
    background-color: #e9e8e8;
}

#__xmlview0--exit {
    float: right;
    width: 100%;
}

#__xmlview0--user {
    float: right;
}

#__layout0 {
    margin-top: 70px;
}

#__xmlview0--kullaniciMail-content {
    height: 40px;
    border-radius: 20px;
    border-left: 4px solid #007cc0;
}

#__xmlview0--kullaniciSifre-content {
    height: 40px;
    border-radius: 20px;
    border-left: 4px solid #007cc0;
}

#__xmlview0--login-inner {
    width: 150px;
    border-radius: 20px;
    float: right;
}